[Unit]
Description=Display htop on tty0
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
PIDFile=/var/run/htop.pid
ExecStart=/bin/htop >/dev/tty0 2>&1
## ExecStart=/root/test.sh
ExecStop=/bin/kill -9 $(cat /var/run/htop.pid)
## KillMode=process
TimeoutStartSec=5
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target